node_modules
npm-debug.log*

build
data
dist

.vscode
.idea

.git
.gitignore

.github
test
*.md

.env
.env.*

logs
*.log

coverage

pids
*.pid
*.seed
*.pid.lock

Dockerfile
.dockerignore
docker-compose.yml
docker-compose.*.yml

tmp
temp
.DS_Store
Thumbs.db
